@media only screen and (max-width:820px) {
    /* For tablets: */
    nav {
        width: 70%;
    }
     /* Monitor Row and Col: */
    .style-row-col {
        display: flex; 
        justify-content: space-between;
    }
    .style-div-1 {
        width: 60%;
        margin-right: 20px;
    }
    .style-div-2 {
        width: 40%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    nav {
        width: 100%;
        font-size: 14px;
    }

    .style-row-col {
        display: block; 
    }
    .style-div-1 {
        width: 100%;
        margin-right: 0;
    }
    .style-div-2 {
        width: 100%;
        margin-top: 50px;
        height: 350px;
    }
  }

  @media only screen and (min-width:821px) {
    /* For desktop: */
    nav {
        width: 39%;
    }
    section {
        width: 60%;
    }
    .p-margin {
        margin-top: 1.5em;
    }
     /* Monitor Row and Col: */
     .style-row-col {
        display: flex; 
        justify-content: space-between;
    }
    .style-div-1 {
        width: 60%;
        margin-right: 20px;
    }
    .style-div-2 {
        width: 40%;
    }
  }

body {
    margin: 50px 21px;
}

header {
    text-align: center;
}

nav {
    letter-spacing: 0.3em;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 1.5em 0 2.5em 0;
}

a.navLink {
    text-decoration: none;
    padding: 6px;
    color: black;
}

/* Style the active class, and buttons on mouse-over */
.active, .navLink:hover {
    background-color: antiquewhite;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    background-color: burlywood;
    margin-bottom: 12px;
    padding: 12px;
}

section {
    background-color: antiquewhite;
    padding: 1.5em;
    margin: auto;
}

footer { 
    /* position: relative; 
    bottom: 0;
    z-index: 10; */
    text-align: center;
}

.style-bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

.style-center {
    text-align: center;
}

.style-inline {
    display: inline;
}

.style-space-between {
    display: flex; 
    justify-content: space-between;
}

input[type=text], input[type=email], textarea {
    width: 90%;
    padding: 0.5em;
}

input[type=submit] {
    border: none;
    outline: none;
    padding: 10px 36px;
    background-color: darkolivegreen;
    color: white;
    cursor: pointer;
    letter-spacing: 3px;
}

input[type=submit]:hover {
    background-color: green;
}